body{
  margin:0;
  font-family: Arial;
  background:#fcffff;
  color:#27305b;
  text-align:center;
}

/* boutons */
button{
  background:#127dc1;
  color:white;
  border:none;
  padding:10px 14px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background:#32abe4;
}

/* inputs */
input{
  padding:10px;
  border-radius:10px;
  border:1px solid #ccc;
  margin:5px;
}

/* ROOM HEADER */
.roomHeader{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  margin-top:10px;
}

/* PLAYERS */
#players{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:10px;
  margin-top:20px;
}

.player{
  background:#f2f4f8;
  padding:8px 14px;
  border-radius:12px;
  display:flex;
  align-items:center;
  gap:6px;
  min-width:90px;
}

/* crown */
.crown{
  width:16px;
  height:16px;
}

/* bottom buttons */
.fab{
  position:fixed;
  bottom:20px;
  right:20px;
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.delete{
  background:#e12852;
}

.leave{
  background:#e12852;
}

.fab svg{
  width:26px;
  height:26px;
  fill:white;
}

/* QR */
#qr{
  margin-top:10px;
}
